<% provide(:title, 'Conocenos') %>
  <h1>Conocenos</h1>
  <p>
  Somos unos estudaintes haciendo un tutorial de <a href="http://ruby.railstutorial.org">Ruby on Rails</a>
  </p>
  <ul id="lista_nombres">
    <li>Omar BenitezEscajeda</li>
    <li>Ingrid Pinedo Pantoja</li>
    <li>Macario De la Peña Valencia</li>
  </ul>
