<% provide(:title, 'Ayuda') %>
<h1>Ayuda</h1>
<p>
  Para más ayuda, visita el tutorial de Ruby on Rails en:
  <a href="http://railstutorial.org/help">Ruby on Rails</a>.
  Para conseguir ayuda en esta aplicación de muestra, visita: 
  <a href="http://railstutorial.org/book">Tutorial de Rails</a>.
</p>
