<div class="center hero-unit">
  <h1>Bienvenidos</h1>

  <h2>
    Esta es la pagina de inicio de la aplicacion <%= link_to 'Equipo BOB', about_path %>
  </h2>

  <%= link_to "Registrate!", signup_path , class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>