<li>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Publicado hace <%= time_ago_in_words(micropost.created_at) %>.
  </span>
  <% if current_user?(micropost.user) %>
      <%= link_to "Borrar", micropost, method: :delete,
                  data: { confirm: "¿Estás seguro?" },
                  title: micropost.content %>
  <% end %>
</li>