<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BOB Team", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Ayuda",   help_path %></li>
          <li><%= link_to "Ingresa", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>